<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détail vente</title>
</head>
<body>
    <h1>Détail vente</h1>
    
    <h2>{{annonce.titre}}</h2>
    <h2>{{annonce.description}}</h2>
    <h2>{{annonce.prix}} €</h2>
    <h2>{{annonce.surface}} m²</h2>
 
</body>
</html>
